html {
  font-size: 16px;
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}


/* header section */

header {
  /*border: 1px solid red;*/
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
}

.logo {
  height: 2rem;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

nav {
  margin-right: 1.5rem;
}

nav a {
  color: black;
  padding-left: 1rem;
}


/* main content */
.main-content {
  /*border: 1px solid blue;*/
  padding-top: 4rem;
}

.main-img {
  /*border: 1px solid red;*/
  width: 60%;
}

.main-img img {
  width: 100%;
  padding: 2rem 1.5rem;
}


/* banner content */
.banner {
  /*border: 1px solid blue;*/
  display: flex;
  align-items: center;
  background-color: lightgray;
}

.banner .content{
  /*border: 1px solid green;*/
  max-width: 30%;
  padding: 0 1rem;
}

.banner .spacer {
  margin: 1.75rem 0;
  line-height: 1.5;
}

.banner a {
  display: block;
  background-color: Dimgray;
  color: white;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
}

/* information content */
.information {
  /*border: 1px solid green;*/
  display: flex;
}

.main-article {
  margin-bottom: 2rem;
}

.main-article .content {
  padding: 0 1.5rem;
  line-height: 1.5;
}

.main-article p {
  padding: 1.5rem 0;
}

.side-articles {
  /*border: 1px solid green;*/
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 1rem;
  border-left: 1px solid lightgray;
}

.article {
  display: flex;
  align-items: center;
  border-bottom: 3px solid lightgrey;
}
.article .content {
  width: 65%;
  line-height: 1.5;
}

.article img {
  width: 35%;
  padding: 1rem;
}

#featured {
  background-color: lightgrey;
}

.article a {
  display: block;
  color: deepskyblue;
}





















/* end css*/
